.task-list {
  margin-bottom: 1rem;
  padding: 2rem;
  background: white;
  max-width: 320px;
  
  .task-list-content{
    padding: 0.7rem 0;
    display: flex;
    position: relative;
    
    input[type="checkbox"] {
      border: 2px solid #bfbfc0;
      color: red;
      cursor: pointer;
      border-radius: 50%;
    }
    
    .task-list-item-wrapper{
      display: flex;
      justify-content: space-between;
    }

    .task-list-label {
      margin-left: 1rem;
      word-break: break-all;
    }

    &:hover{
      .trash-icon {
        display: block;
        color: var(--secondary);
      }
    }

    .trash-icon {
      display: none;
      position: absolute;
      right: 0;
    }
  }  
}