@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import './variables.scss';

:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  background-color:$very-light-gray;
}

.main-application{
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  margin: 0.8rem 1.5rem;
  position: absolute;
  top: 5rem;

  .info-text{
    margin: 2rem auto;
    font-size: 0.8rem;
    color: $dark-grayish-blue;
  }
}