.form-insert{
  display: flex;
  flex-direction: column;

  .input {
    border: none;
    background-color: var(--background-details);
    font-size: 12px;
    font-weight: 100;
    line-height: 24px;
  }
  
  .submit-button {
    border: none;
    background-color: var(--secondary);
    text-shadow:0px -1px 0px var(--secondary);
    color: white;
    font-weight: 400;

    display:inline-block;
    padding:8px 16px;
    text-decoration:none;

    &:hover{
      background-color: var(--primary);
    }

    &:active {
      background-color: var(--active);

    }
  }
}
